votes/node_modules
votes/output
voteringar/single_page_pdf
db-primer/node_modules
marker/node_modules
votering-201314
.com.apple.timemachine.supported
voteringar/pdf
filelist VOT-PDF-001.txt
voteringar/png
voteringar/resolved
